<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="../img/logo.png">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}

        <div id="content" class="d-flex align-items-center justify-content-center">
            {% block body %}{% endblock %}
        </div>

        {% include 'footer.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/81d14a2741.js" crossorigin="anonymous"></script>
    </body>
</html>
