<footer class="container-fluid d-flex justify-content-evenly align-items-center flex-column" id="footer">
    {# <form action="#" class="d-flex">
        <label>
            <input type="email" placeholder="S'abonner à la newsletter">
        </label>
        <button type="submit" class="d-flex"><img src="./img/play.png" alt="button submit"></button>
    </form> #}
    <p class="text-center">© 2024 Le Petit Coin. Tous droits réservés.</p>
</footer>